*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.navbar ul{
    list-style-type: none;
}
.navbar a{
    text-decoration: none;
    padding: 1rem;
    display: inline-block;
}
.navbar li{
    display: inline-block;
}
.navbar{
    background-color: #ec4D37;
}
.navbar a:hover{
    background-color:grey ;
}
.drop-item a{
    display: block;
    padding: 1rem;
}
.drop-item{
    background-color: bisque;
    min-width: 160px;
    display: none;
}
.dropdown:hover .drop-item{
    display: block;
    /* width: 10rem; */
}
.navbar{
    position: relative;
}
.drop-item{
    position: absolute;
    top: 50px;
}
.drop-item1 a{
    display: block;
    padding: 1rem;
}
.drop-item1{
    background-color: rgb(184, 139, 85);
    /* min-width: 160px; */
    display: none;
    position: absolute;
    top: 0.2px;
    left: 172px;
}
.drop-item:hover .drop-item1{
    display: block;
}




